{
  "collector": {
    "name": "nmap",
    "type": "automatic",
    "configurations": {
      "general": {
        "auto restart": {
          "enabled": false,
          "time interval": 1800
        }
      },
      "archiving": {
        "enabled": true,
        "time interval": 1800,
        "file format": "zip"
      },
      "parsing": {
        "parser": ""
      },
      "custom": {
        "interfaces": {
          "mode": "inclusive",
          "interfaces": "eth0"
        }
      }
    }
  }
}
