{
  "collector": {
    "name": "string",
    "type": "string",
    "configurations": {
      "general": {
        "auto restart": {
          "enabled": "checkbox",
          "time interval": "number"
        }
      },
      "archiving": {
        "enabled": "checkbox",
        "time interval": "number",
        "file format": "option"
      },
      "parsing": {
        "parser": "text"
      },
      "custom": {
        "commands": "text"
      },
      "constraints": {
        "archiving|file format": [
          "zip",
          "tar"
        ]
      }
    }
  }
}
