[Desktop Entry]
Name=ECEL
GenericName=
Comment=Evaluator Centric and Extensible Logger
Exec=/root/Practicum/ecelDevelopment/ecel-gui
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true

