[Desktop Entry]
Name=ECEL
GenericName=
Comment=Evaluator Centric and Extensible Logger
Exec=/root/Desktop/merge_ecel/ecel-master/ecel-gui
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true

